node_modules
dist
dist-ssr
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.log
tsconfig.tsbuildinfo
.vercel

# Capacitor / Android build artifacts
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/app/release/
android/local.properties
android/captures/
android/.cxx/
*.iml

# Vercel
.vercel
